@font-face {
	font-family: "PaytoneOne";
	src: url("PaytoneOne-Regular.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    width: -moz-fit-content;
    text-align: center;
}

h1 {
    font-family: "PaytoneOne", Helvetica, sans-serif;
    font-size: 2.75em;
    margin: 1em;
}

h2 {
    margin: .75em;
}

form {
    margin-top: 25%;
    position: relative;
}

table.gameGrid, table.gameGrid table {
    border: 1px solid black;
    border-collapse: collapse;
}

table.gameGrid input[type=text] {
    border: none;
    line-height: 1.875em;
    width: 1.875em;
    font-size: 1em;
    text-align: center;
}

table.gameGrid td {
    line-height: 1.875em;
    width: 1.875em;
    border: 1px solid black;
    text-align: center;
    position: relative;
}

table.gameGrid td span {
    line-height: 1.875em;
    width: 1.875em;
    display: inline-block;
    position: relative;
}

table.pencilGrid {
    position: absolute;
    top: 0px;
    border-collapse: collapse;
}

table.pencilContainer {
    border: 1px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    border-collapse: collapse;
}

table.pencilContainer * {
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
}

table.pencilContainer td.pencilMark {  
    border: none;
    line-height: 1.875em;
    width: 1.875em;
    font-size: .3333333333em;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0);
}

input[type=submit] {
    cursor: pointer;
    margin: 1em;
    padding: .4em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(220, 220, 220);
}

input[type=submit]:hover {
    background-color: rgb(236, 236, 236);
}

.wrong {
    color: red;
}

.correct {
    font-weight: bold;
}

#ModalContainer {
    background-color: rgba(214, 214, 214, 0.8);
    z-index: 997;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.modal {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    z-index:998;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    background: white;
    margin-top: 0px;
    text-align: center;
}

.modal h3 {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.modal p{
    margin: .5em;
}

button { /* Close button */
    color: black;
    background-color: white;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    right: calc(35% - 10px);
    top: calc(35% - 10px);
    z-index: 999;
    cursor: pointer;
    font-weight: bold;
    line-height: 18px;
}