.briton-toggle {
    display: block;
    color: white;
    font-size: 1.75em;
    border-radius: .9em;
    line-height: .9em;
    height: .9em;
    width: 2em;
    cursor: pointer;
    text-align: left;
    transition: background-color, .3s ease;
}

.briton-toggle span{
    position: relative;
    transition: all .3s ease;
}

.toggle-off {
    background-color: rgb(156, 156, 156);
}

.toggle-off span {
    left: 0px;
}

.toggle-on {
    background-color: rgb(20, 111, 230);
}

.toggle-on span {
    left: calc(100% - .9em);
}

input[type=checkbox]:after {
    display: block!important;
    content: '<div>Test</div>';
}